@font-face {
    font-family:din;
    src:url("assets/din_regular.ttf");
}

body{
    background-color:white;
}

.royce{
    position:absolute;
    z-index:3;
    width:250px;
    top:10vh;
    left:50vw;
    margin-left: -125px;
}

#lotto_text{
    position:absolute;
    top:250px;
    left:30vw;
    font-family:"din";
    text-align:center;
    color:pink;

}

#buttons{
    list-style-type:none;
    margin:0;
    padding:0;
    display:inline;
}

.active{
    font-weight:bold;
    background-color:grey;
}
.floor{}

.upper_level{}
#spacer{
    width: 200px;
    height: 100px;
    float:left;
    display:inline-block
}

@media only screen and (max-width: 500px){

    div#lotto_text{
        word-break:break-all;
        position:absolute;
        width:100vw;
        font-size:100%;
        margin-left: -30vw;
    }
}