@font-face {
    font-family:'ebrima';
    src:url("../assets/ebrima.ttf");
}

body{
    background-color:white;
}

.royce{
    position:absolute;
    z-index:3;
    width:250px;
    top:10vh;
    left:50vw;
    margin-left: -125px;
}

.text_container{
    position:absolute;
    font-family:ebrima;
    color:darkblue;
    top:200px;
    left:20vw;
    width:60vw;
    z-index:2;
}

ul{
    font-size:18px;
}

.buttons{
    font-size:30px;
    display:inline;
    font-weight:bold;
    border: 2px solid darkblue;
    border-radius: 4px;
    cursor:pointer;
    vertical-align:top;
}

.buttons:hover{
    background-color:grey;
}

#bu_upper{
    position:absolute;
    right:0px;
}

.signup_header{
    font-size:26px;
}

#upper_level{
    display:none;
}

@media only screen and (max-width: 800px) {
    .text_container{
        left:5vw;
        width:90vw;
    }
    .buttons{
        font-size:22px;
    }
    ul{
        font-size:14px;
    }
    .signup_header{
        font-size:20px;
    }
}
@media only screen and (max-width:350px) {
    .buttons{
        font-size: 14px;
    }
    ul{
        font-size: 12px;
    }
    .signup_header{
        font-size: 14px;
    }
}
