body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

@font-face {
    font-family:din;
    src:url("assets/din_regular.ttf");
}

/*Button to lottery page*/
.button {
    background-color: darkblue; /* Green */
    font-family: din;
    position:absolute;
    left:50vw;
    top:10vh;
    z-index: 41;
    border: 5px solid white;
    border-radius:4cm;
    color: white;
    padding: 25px 32px;
    margin-left: -100px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
/*Header*/
div.header{
    position:relative;
    top:65vh;
    left:33vw;
    width:33vw;
    z-index: 40;
    font-size: 200%;
}

.bruin{
    position:absolute;
    left:27.5%;
    height:5vh;
}

.bash{
    position:absolute;
    left:52.5%;
    height:5vh;
}


/*Arch*/
#arc{
    position:absolute;
    left:28vw;
    top:19vh;
}
.tophalf {
    position: absolute; z-index: -1;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 50%; height:180%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright: 50%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    background: -moz-linear-gradient(left, #ffff00 15%, #00cc99 65%, #33ccff 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(15%,#ffff00), color-stop(65%,#33ccff), color-stop(90%,#33ccff));
    background: -webkit-linear-gradient(left, #ffff00 15%,#00cc99 65%,#33ccff 90%);
    background: -o-linear-gradient(left, #ffff00 15%,#00cc99 65%,#33ccff 90%);
    background: -ms-linear-gradient(left, #ffff00 15%,#00cc99 65%,#33ccff 90%);
    background: linear-gradient(to right, #ffff00 15%,#00cc99 65%,#33ccff 90%);
}

.inner {
    position: absolute; z-index: 1;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    width: 45%; height: 150%;
    background-color: white;
    border-color: white;
    border-radius: 100%;
}

.bottomhalf {
    position:absolute; z-index: 0;
    left: 50%;
    transform: translate(-50%);
    top:100%;
    width: 50%; height:300%;
    background: white;
}

.cover {
    position: absolute; z-index: 2;
    left: percentToShiftCover;
    top: 0%;
    width: 50%; height: 300%;
    background: white;
// -ms-transform: rotate(-70deg);
// -webkit-transform: rotate(-70deg);
// transform: rotate(-70deg);
}

/*AND THEN THE LAST PART THAT I DON'T QUITE KNOW HOW TO UNIFY*/

/*Basically the idea is to have this cover white square that rotates in front of the arch*/

.cover {
    position:absolute;
    top:100px;
    width: 800px; height:500px;
    background: white;
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
}

/*Royce*/
.royce{
    position:absolute;
    z-index:3;
    width:35vw;
    top:50vh;
    left:50vw;
    margin:-17vh 0 0 -17.5vw;
}


@media only screen and (max-width: 500px) {
    .royce{
        position:absolute;
        z-index:3;
        width:90vw;
        margin:-15vh 0 0 -44vw;
    }
    div.header{
        position:absolute;
        width:100vw;
        font-size: 150%;
        margin: -3vh 0 0 -25vw;
    }
    .bruin{
        left:20%;
    }
    .bash{
        left: 45%;
    }
}

#neon{position:absolute;z-index:10;}
.night{
    display:none;
    color: #F106C0;
}

.light{
    color: darkblue;
}

/*glowing animation*/
@keyframes glow {
    0% {opacity:1;}
    50% {opacity:0;}
    100%{opacity:1;}
}
#glow{
    animation: glow infinite linear 2s;
}


/*
#line{
    position:absolute;
    height:100vh;
    background-color:black;
    width:2px;
    left:50vw;
    z-index:10;
}
*/