body{
    width:100vw;
    height:100vh;
    overflow:hidden;
}

@font-face {
    font-family:din;
    src:url("assets/din_regular.ttf");
}

/*Button to lottery page*/
.button {
    background-color: darkblue; /* Green */
    font-family: din;
    position:absolute;
    bottom: 2vh;
    right: 1vw;
    z-index: 41;
    color:white !important;
    font-size: 28px;
    padding: 15px 30px;
}

/*Header*/
div.header{
    position:relative;
    top:65vh;
    left:33vw;
    width:33vw;
    z-index: 40;
    font-size: 200%;
}

.bruin{
    position:absolute;
    left:27.5%;
    height:5vh;
}

.bash{
    position:absolute;
    left:52.5%;
    height:5vh;
}


/*Arch*/
#arc{
    position:absolute;
    left:28vw;
    top:19vh;
}
.tophalf {
    position: absolute; z-index: -1;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 50%; height:180%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright: 50%;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;

    background: -moz-linear-gradient(left, #ffff00 15%, #00cc99 65%, #33ccff 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(15%,#ffff00), color-stop(65%,#33ccff), color-stop(90%,#33ccff));
    background: -webkit-linear-gradient(left, #ffff00 15%,#00cc99 65%,#33ccff 90%);
    background: -o-linear-gradient(left, #ffff00 15%,#00cc99 65%,#33ccff 90%);
    background: -ms-linear-gradient(left, #ffff00 15%,#00cc99 65%,#33ccff 90%);
    background: linear-gradient(to right, #ffff00 15%,#00cc99 65%,#33ccff 90%);
}
/*Note to ASHLEY: change the values to non percentage values*/
.inner {
    position: absolute; z-index: 1;
    top: 38%;
    left: 50%;
    transform: translate(-50%);
    width: 45%; height: 150%;
    background-color: white;
    border-color: white;
    border-radius: 100%;
}

.bottomhalf {
    position:absolute; z-index: 0;
    left: 50%;
    transform: translate(-50%);
    top:100%;
    width: 50%; height:300%;
    background: white;
}

.cover {
    position: absolute; z-index: 2;
    left: percentToShiftCover; /*Does this actually work?*/
    top: 0%;
    width: 50%; height: 300%;
    background: white;
   -ms-transform: rotate(-70deg);
   -webkit-transform: rotate(-70deg);
   transform: rotate(-70deg);
}

/*AND THEN THE LAST PART THAT I DON'T QUITE KNOW HOW TO UNIFY*/

/*Basically the idea is to have this cover white square that rotates in front of the arch*/

.cover {
    position:absolute;
    top:100px;
    width: 800px; height:500px;
    background: white;
    -ms-transform: rotate(-70deg);
    -webkit-transform: rotate(-70deg);
    transform: rotate(-70deg);
}

/*Royce*/
.royce{
    position:absolute;
    z-index:3;
    width:35vw;
    top:50vh;
    left:50vw;
    margin:-17vh 0 0 -17.5vw;
}
/*button to click on*/
#click{
    position:absolute;
    top:15vh;
    left:40vw;
    z-index:20;
}
#clicked{cursor:pointer;}

/*Neon Royce*/
#neon{position:absolute;z-index:10;}
.night{  display:none;  color: #F106C0;  }
.light{  color: darkblue;  }

/*Responsive Royce*/
@media only screen and (max-width: 500px) {
    .royce{
        position:absolute;
        z-index:3;
        width:90vw;
        margin:-15vh 0 0 -44vw;
    }
    div.header{
        position:absolute;
        width:100vw;
        font-size: 150%;
        margin: -3vh 0 0 -25vw;
    }
    .bruin{
        left:20%;
    }
    .bash{
        left: 30%;
    }
    .button{
        font-size:20px;
        right:50px;
        margin-right: -50px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 501px) {
    .royce{
        position:absolute;
        z-index:3;
        width:50vw;
        margin:-20vh 0 0 -25vw;
    }
    div.header{
        position:absolute;
        width:50vw;
        font-size: 150%;
        margin: -3vh 0 0 -5vw;
    }
    .bruin{
        left:20%;
    }
    .bash{
        left: 35%;
    }

}

/*glowing animation*/
@keyframes glow {
    0% {opacity:1;}
    50% {opacity:0;}
    100%{opacity:1;}
}
#glow{  animation: glow infinite linear 2s;  }


/*
#line{
    position:absolute;
    height:100vh;
    background-color:black;
    width:2px;
    left:50vw;
    z-index:10;
}
*/
